@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body
{
	margin: 0;
}
header{
	color: white;
	background: black;
	padding: 8px 0px 6px 40px;
	height: 45px;
}
header h1{
		font-family: 'Oswald', sans-serif;
	display: inline;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}
	nav ul{
	display: inline;
	padding: 0px;
	float: left;
 		}
 	nav ul li{
 		display: inline-block;
 		list-style-type: none;
 		color: white;
 		float: left;
 		margin-left: 12px;

 	}
 	nav ul li a{
 		color: white;
 		text-decoration: none;
 	}
 	#nav{
font-family: 'Montserrat', sans-serif;
 	}	
 	.homered{
		background-color: red;
       padding: 30px 10px 16px 10px;
		}
	.divid {
		background-color: red;
		height: 5px;
	}
	.homeblack:hover{
		background-color: blue;
		padding: 30px 10px 16px 10px;
	}
	.flvimg{
		background-image: url();
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
		padding: 1000px 0px 0px 100px;
	}
	#fdlv{
		 ;
	}